.logo {
    filter:invert(1);
}

.list-group-item {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.fa-xmark {
    font-size: 1.1em;
    position: absolute;
    right: 20px;
    top: 11px;
}